$font-color: #444;
$a-link: #9a0000;
$a-visited: #b58080;
$font-size: 16px;

@mixin icon($iconUrl) {
	background-image: url($iconUrl);
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 2px;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-right: 5px;
}



body {
	font-size: $font-size;
	margin: 0;
}

.container {
	background: #eee;
	text-align: center;
}

.image {
	display: inline-block;
	margin: 32px;
	width: 400px;

	img {
		max-width: 100%;
		border-radius: 50px;
	}

	figcaption {

		.text {
			font-size: $font-size * 1.5;
			font-style: italic;
			font-weight: bold;
			text-align: center;
			color: $font-color;
		}
	}

	.extras {
		clear: both;
		float: right;
		font-weight: normal;
		color: $font-color;

		.views {
			display: inline-block;

			.viewsIcon {
				@include icon("../images/views.png");
			}
		}

		.likes {
			display: inline-block;
			margin-left: 15px;
			margin-right: 15px;

			.likesIcon {
				@include icon("../images/likes.png");

			}
		}

		.comments {
			display: inline-block;

			.commentsIcon {
				@include icon("../images/comments.png");
			}
		}

		a {
			text-decoration: none;
		}

		& :link {
			color: $a-link;
		}

		& :visited {
			color: $a-visited;
		}
	}
}
