   * {
            font-family: 'Sorts Mill Goudy', serif;
        }
    
header {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding-top: 0.5em;
            width: auto;
            height: 5em;
            background: linear-gradient(azure, chocolate);
            color: black;
            font-family: 'Sorts Mill Goudy', serif;
            text-align: center;
        }

            header span {
                margin-top: 0.3em;
                font-weight: 500;
                font-size: xx-large;
                transition: 1s;
            }

                header span:hover {
                    text-shadow: 5px 5px 6px rgba(0,0,0,0.7);
                }

            header ul {
                list-style: none;
                margin: 0;
                margin-bottom: 0.5em;
                padding: 0;
                display: inline-block;
                float: right;
            }

                header ul li {
                    margin-left: 1.8em;
                    display: inline;
                    transition: 0.5s;
                }

                    header ul li:last-of-type {
                        margin-right: 4em;
                    }

                    header ul li:hover {
                        font-weight: bolder;
                    }

                     #motto {
            font-size: small;
            margin-left: 2rem;
            letter-spacing: 1px;
						 font-style: italic;
						 opacity: 0;
        }

            #motto i {
                margin-left: -4rem;
                padding-left: 3rem;
            }

        .star {
            display: inline;
            height: 5%;
            width: 5%;
            float: left;
            margin-left: 1rem;
            margin-top: -0.5rem;
            opacity:0.4;
        }

        #motto:hover {
            font-weight: bolder;
            text-shadow: none;
            opacity: 1;
        }

        #mottoouter {
            display: inline-block;
            float: left;
            width: 45rem;
        }

        #mottoouter:hover * {
            opacity:1;
        }



