 #jokes {
            background: linear-gradient(chocolate, azure, navy, lightblue);
            /* border: 2px groove grey; */
            color: #fff;          
        }
            #jokes span {
                text-decoration: underline;
                color: black;
            }
            #jokes p {
                margin-left: 50px;
            }
            #jokes h3 {
                text-decoration: blink;
                padding-left: 25px;
            }
            #jokes header {
                background: linear-gradient(azure, chocolate);
            }